.project {
  width: 350px;
  margin: 0 10px 30px;
  background: #fff;
}

.preViewImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.detailsLink {
  padding: 8px;
  background: rgba(255, 255, 255, 0.95);
  font: 700 18px "Montserrat", sans-serif;
  text-decoration: none;
  color: #494949;
  border-radius: 3px;
  transition: all 0.3s linear;
}

.detailsLink:hover {
  background: #000;
  color: #fff;
}

.info {
  padding: 25px;
  border: 1px solid #ebebeb;
  border-top: 0;
}

.info h4 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #040c2c;
  line-height: 1.5em;
}

.info p {
  margin-bottom: 10px;
}
