@import "../../../common/styles/sass/variables";
@import "../../../common/styles/sass/mixins";

.project {
  position: relative;
  width: 350px;
  margin: 0 10px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  cursor: pointer;

  @media screen and (max-width: 991px) {
    width: 328px;
  }

  @media screen and (max-width: 767px) {
    width: 238px;
  }

  @media screen and (max-width: 575px) {
    width: 100%;
  }

  &:hover .info {
    filter: blur(2px);
    transform: scale(1.03);
  }

  .info {
    background: $darkBg;

    .previewImage {
      height: 200px;
      background-position: center;
      background-size: cover;
    }

    h4 {
      @include textStyles($textFontFamily, 22px, 1.5em, $primaryColor);
      margin-bottom: 0;
      padding: 15px 25px;
      font-weight: 600;
      text-align: center;
    }
  }

  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.3s ease-in-out;

    .detailsLink {
      @include textStyles($textFontFamily, 18px, normal, $textWhite);
    }
  }

  &:hover .overlay {
    opacity: 1;
  }
}

.modalProject {
  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: $textWhite;
    text-align: center;
  }

  .projectInfo {
    display: flex;
    flex-wrap: wrap;
    margin: -1.5rem -0.75rem 0 -0.75rem;
  }

  .projectImage {
    width: 58.33%;
    margin-top: 1.5rem;
    padding: 0 0.75rem;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  .projectDescription {
    width: 41.67%;
    margin-top: 1.5rem;
    padding: 0 0.75rem;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    h4 {
      font-size: 1.125rem;
      color: $textWhite;

      &:last-of-type {
        margin-top: 1.5rem;
      }
    }

    p {
      color: $textWhite50;
    }

    ul {
      color: $textWhite50;

      li {
        padding: 12px 0;
        border-bottom: 1px solid rgba(250, 250, 250, 0.12);

        span {
          margin-right: 0.5rem;
          color: $textLight;
        }
      }
    }
  }
}
