.blockTitle {
  margin: 1.5rem 0;
}

.blockTitle h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .skillsList {
    justify-content: center;
  }
}
