.experienceBox {
  margin: 24px 0;
  padding: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 7px;

  .period {
    margin-bottom: 10px;
    font-weight: bold;
  }

  .details {
    text-align: left;

    h4 {
      font-size: 18px;
      text-transform: capitalize;
    }

    .description {
      line-height: 26px;
      font-size: 15px;
    }
  }
}
