.resumeContent {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem;
}

.resumeItem {
  width: 50%;
  padding: 0 1.5rem;
}

.resumeItem h3 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.resumeFooter {
  margin-top: 3rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .resumeContent {
    display: block;
  }

  .resumeItem {
    width: 100%;
  }
}