.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

.blockTitle {
    margin: 20px 0;
    background: lightgray;
    text-align: center;
}

.button {
    padding: 5px 15px;
    background: bisque;
    border: none;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid black;
}

.textField, .textArea {
    margin-bottom: 15px;
    padding: 10px;
    background: #fff;
    border: 1px solid rgba(255, 219, 0, 0.4);
    border-radius: 3px;
}
