@import "../../common/styles/sass/mixins";

.home {
  background-image: url("../../assets/images/home-bg.jpg");
  background-position: center;
  background-size: cover;

  .container {
    @include container();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    .greetingText {
      margin: 0 10px;
      text-align: center;
      color: #fff;

      @media screen and (max-width: 570px) {
        margin: 0;
      }

      h1 {
        margin: 10px 0 20px;
        font-size: 55px;
        font-weight: 700;

        @media screen and (max-width: 570px) {
          font-size: 30px;
        }
      }

      h4 {
        font-size: 24px;
        text-transform: capitalize;

        @media screen and (max-width: 570px) {
          font-size: 20px;
        }
      }

      p {
        font-size: 24px;
        margin-bottom: 25px;
      }
    }

    .mainPhoto {
      width: 270px;
      height: 270px;
      margin: 0 10px;
      background: lightgray;
      text-align: center;
      border: 2px solid #fff;
      border-radius: 50%;

      img {
        width: 100%;
        border-radius: 50%;
      }

      @media screen and (max-width: 858px) {
        margin-bottom: 40px;
      }
    }

    @media screen and (max-width: 858px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }
}
