@import "../../styles/sass/variables";

.sectionTitle {
  position: relative;
  display: flex;
  margin-bottom: 3rem;
  text-align: center;

  h2 {
    width: 100%;
    margin: 0;
    font-size: 8.25rem;
    font-weight: 600;
    color: #6c757d;
    line-height: 1.3;
    text-transform: uppercase;
    opacity: 0.1;

    @media screen and (max-width: 1199px) {
      font-size: calc(1.95rem + 8.4vw);
    }
  }

  .subtitle {
    position: absolute;
    align-self: center;
    width: 100%;
    font-weight: 600;
    font-size: 2.25rem;
    color: $textWhite;
    line-height: 1.5;
    text-transform: capitalize;

    .headingSeparator {
      display: block;
      width: 80px;
      height: 3px;
      margin: 0 auto;
      background: $primaryColor;
    }
  }
}
