@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.button {
  display: inline-block;
  padding: 12px 26px;
  font-size: $buttonFontSize;
  text-transform: capitalize;
  color: $buttonSecondaryColor;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;

  &.primary {
    @include buttonColor($primaryColor, $primaryColor);
  }

  &.secondary {
    @include buttonColor($buttonSecondaryColor, $buttonSecondaryColor);

    &.outlined {
      background-color: transparent;
      letter-spacing: 2px;
    }

    &:hover {
      @include buttonHoverColor($buttonSecondaryColor, $primaryColor);
    }
  }

  &:hover {
    @include buttonHoverColor($buttonSecondaryColor, $primaryColor);
  }
}
