.skill {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 48%;
  margin-bottom: 24px;
  background: #f8f9fa;
  text-align: center;
  border: 1px dotted #e7e7e7;
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    width: 70%;
  }

  .iconBox {
    width: 24px;
    margin-right: 10px;

    .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .html5 {
      background-image: url("../../../../assets/icons/icon-html5.svg");
    }

    .css3 {
      background-image: url("../../../../assets/icons/icon-css3.svg");
    }

    .js {
      background-image: url("../../../../assets/icons/icon-js.svg");
    }

    .react {
      background-image: url("../../../../assets/icons/icon-react.svg");
    }

    .redux {
      background-image: url("../../../../assets/icons/icon-redux.svg");
    }
  }

  .description {
    width: 90%;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      h4 {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
      }
    }

    .progress {
      font-size: 15px;
      line-height: 1.8em;
      color: #797979;
    }
  }
}
