.footer {
  padding: 70px 0;
  background: #212529;
  color: #fff;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .socialContacts {
      margin-bottom: 20px;

      .socialIcon {
        display: inline-block;
        margin-right: 8px;
        width: 45px;
        height: 45px;
        font-size: 27px;
        line-height: 42px;
        text-align: center;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 50%;
        transition: all 0.5s;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }

    .copyright {
      text-align: center;
      line-height: 43px;
    }
  }
}
