.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.textField, .textArea {
  margin-bottom: 15px;
  padding: 10px;
  background: #fff;
  border: 1px solid rgba(255, 219, 0, 0.4);
  border-radius: 3px;
}

.formField {
  display: block;
  height: 44px;
  margin: 8px 0 16px;
  padding: 6px 12px;
  font: 400 16px "Nunito", sans-serif;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out;
}

.formField:focus {
  border-color: #000;
}

textarea.formField {
  height: auto;
}
