@import "common/styles/sass/variables";
@import "common/styles/sass/mixins";

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

/* Fonts */
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat.ttf');
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito.ttf');
}

/* App styles */
html {
  scroll-behavior: smooth;

  .App {
    @include textStyles($textFontFamily, 16px, 1.5);

    main {
      > div {
        padding: 100px 0;

        &:nth-child(even) {
          background-color: $sectionBgColor;
        }

        &:nth-child(odd) {
          background-color: $sectionBgSecondColor;
        }
      }
    }

    .container {
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 10px;
    }

    .darkOverlay {
      position: relative;
      z-index: 0;

      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: rgba(0, 0, 0, 0.7);
      }
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 15px;
      font-family: $headerFontFamily;
      font-weight: 500;
      line-height: 1.2;
    }

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 2.25rem;
    }

    h3 {
      font-size: 1.75rem;
    }

    h4 {
      font-size: 1.5rem;
    }

    h5 {
      font-size: 1.25rem;
    }
  }
}






