@import "./variables";

@mixin container() {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

@mixin textStyles($fontFamily, $fontSize, $lineHeight, $color: $textColor) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}

@mixin button () {
  display: inline-block;
  padding: 12px 26px;
  font-size: $buttonFontSize;
  text-transform: capitalize;
  color: $buttonSecondaryColor;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

@mixin buttonColor($bgColor, $borderColor) {
  background-color: $bgColor;
  border: 2px solid $borderColor;
}

@mixin buttonHoverColor($bgColor, $textColor) {
  background-color: $bgColor;
  color: $textColor;
}
