$bodyColor: #4c4d4d;
$headingColor: #252b33;
$textWhite: rgba(255,255,255, 1);
$textWhite50: rgba(255,255,255, 0.5);
$textLight: #dee3e4;
$textMuted: #6c757d;
$textFontFamily: 'Poppins', sans-serif;
$sectionBgColor: #343a40;
$sectionBgSecondColor: #212529;
$primaryColor: #20c997;
$secondaryColor: #bcbcbc;
$buttonHoverColor: #1baa80;
$buttonSecondaryColor: #fff;
$buttonFontSize: 1rem;
$darkBg: #111418;
