$textColor: #212529;
$textFontFamily: 'Nunito', sans-serif;
$headerFontFamily: 'Montserrat', sans-serif;
$sectionBgColor: #fff;
$sectionBgSecondColor: #f8f9fa;
$primaryColor: #040c2c;
$secondaryColor: #bcbcbc;
$buttonSecondaryColor: #fff;
$buttonFontSize: 15px;