@import "../../common/styles/sass/variables";

.freelance {
    background-image: url("../../assets/images/freelance-bg.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}

.freelance h2 {
    margin-bottom: 24px;
    color: $textWhite;
}