@import "../../common/styles/sass/variables";

.contactsContent {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem;
}

.contactsList {
  width: 25%;
  padding: 0 12px;

  h4 {
    margin-bottom: 1rem;
    font-size: 1.31rem;
    color: $textWhite;
    text-transform: uppercase;
  }

  ul {
    margin-bottom: 1.5rem;
  }

  .socialContacts {
    display: flex;
    margin-bottom: 20px;

    .socialIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
      padding: 3px;
      width: 45px;
      height: 45px;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 50%;
      transition: all 0.5s;
      overflow: hidden;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: #fff;
        color: #000;
      }

      .icon {
        height: 25px;
      }

      .iconWithBg {
        height: 45px;
        margin-left: 1px;
      }
    }
  }
}

.formContainer {
  display: flex;
  justify-content: center;
  width: 75%;
  padding: 0 12px;
}
