@import "../../../common/styles/sass/variables";

.menuToggle {
  display: none;
  padding: 19.5px 15px;
  cursor: pointer;

  @media screen and (max-width: 991px) {
    display: block;
  }

  span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 3px;
    background: #fff;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;

  &.opened {
    display: block;
  }

  @media screen and (max-width: 991px) {
    display: none;
    position: absolute;
    width: 150px;
    top: 56px;
    right: 0;
    background: rgba(50, 50, 50, 0.95);
  }

  .navLink {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 0.85rem;
    font-size: 16px;
    color: rgba(250, 250, 250, 0.9);
    transition: all 0.2s ease;
    cursor: pointer;

    &.active {
      color: $primaryColor;

      &:after {
        content: "";
        position: absolute;
        width: 90%;
        height: 2px;
        left: 5%;
        bottom: 9px;
        background: $primaryColor;
      }
    }
  }
}
