.menuToggle {
  display: none;
  padding: 19.5px 15px;
  cursor: pointer;

  @media screen and (max-width: 500px) {
    display: block;
  }

  span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 3px;
    background: #fff;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;

  &.opened {
    display: block;
  }

  @media screen and (max-width: 500px) {
    display: none;
    position: absolute;
    width: 150px;
    top: 65px;
    right: 0;
    background: rgba(50, 50, 50, 0.95);
  }

  .navLink {
    position: relative;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: all 0.4s;
    cursor: pointer;

    &.active {
      &:after {
        content: "";
        position: absolute;
        width: 90%;
        height: 2px;
        left: 5%;
        bottom: 0;
        background: #bcbcbc;
      }
    }

    @media screen and (max-width: 500px) {
      display: block;
    }
  }
}
