@import "../../common/styles/sass/variables";

.aboutContent {
  display: flex;
  flex-wrap: wrap;
  margin: -3rem -0.75rem 0 -0.75rem;
}

.aboutText {
  width: 66.67%;
  margin-top: 3rem;
  padding: 0 0.75rem;

  @media screen and (max-width: 1199px) {
    width: 58.33%;
  }

  @media screen and (max-width: 991px) {
    width: 100%;
    text-align: center;
  }

  h3 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: 600;
    color: $textWhite;

    .textPrimary {
      color: $primaryColor;
    }
  }

  p {
    color: $textWhite50;
  }
}

.aboutContacts {
  width: 33.33%;
  margin-top: 3rem;
  padding: 0 0.75rem;

  @media screen and (max-width: 1199px) {
    width: 41.67%;
  }

  @media screen and (max-width: 991px) {
    width: 100%;
  }

  ul {
    margin-bottom: 16px;
    color: $textLight;

    li {
      padding: 12px 0;
      border-bottom: 1px solid #3c4043;

      b {
        margin-right: 0.5rem;
        font-weight: 600;
      }

      a {
        color: $textLight;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}